* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.text-base {
	color: white;
}

.text-muted {
	color: gray;
}

/* Complex selector test case */
.bg-\[magenta\]\.border-\[cyan\] {
	background-color: magenta;
	border-color: cyan;
	border-style: single;
}
